header{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    height: 10%;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
}

header h1{
    font-size: 26px;
    padding: 2% 0 ;
}

article{
    height: 90%;
    padding: 5% 20%;
    overflow-y: auto;
}

article section{
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: #FFFFFF;
    padding: 5%;
    margin-bottom: 10%;
}

article section header{
    display: flex;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
    margin-bottom: 2%;
}

article section header h1{
    font-size: 20px;
    flex-grow: 2;
}

article section header p{
    font-size: 16px;
    flex-grow: 1;
    text-align: right;
}

article section p{
    text-align: justify;
    margin: 0;
}

.next_page{
    font-size: 2em;
    display: flex;
    justify-content: center;
    color: #DDDDDD;
}

.icon:hover{
    color: #FFFFFF;
    cursor: pointer;
}

.add-user{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 2em;
}